<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark shadow-sm" style="background: linear-gradient(135deg, #1d4ed8 0%, #7c3aed 100%);">
        <div class="container">
            <a class="navbar-brand fw-bold text-white" th:href="@{/}">
                <i class="fas fa-microchip me-2"></i>TechNews
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/}">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/articles}">Artigos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/newsletter/subscribe}">Assinar Newsletter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/newsletter/arquivo}">Arquivo de Newsletters</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>